@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Space+Grotesk:wght@300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-void text-gray-200 font-body antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-sans;
    }
}

@layer utilities {
    .text-glow {
        text-shadow: 0 0 20px rgba(0, 212, 255, 0.5);
    }

    .glass-panel {
        @apply bg-surface/80 backdrop-blur-md border border-white/5;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #050507;
}

::-webkit-scrollbar-thumb {
    background: #1E1E24;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}